@import url(https://fonts.googleapis.com/css?family=Domine|Hind|Knewave|Roboto+Slab);
* { margin:0; padding:0; box-sizing:border-box; }

.image {
  background: url(../images/pink.jpg);
  padding: 2em 0 4em;
  background-repeat: no-repeat;
}

header {
    background-color: #FFED74;
}
section {
	padding:4em 0;
}
nav {
    background-color: #E8C66A;
}
nav a {
	display:inline-block;
	padding:1em;
	/* width: 20%; */
	/* text-align: center; */
	/* float: left; */
	color: inherit;
	text-decoration: none;
}
footer {
   background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

.logo {
   text-align: center;
   font-family: 'Knewave', cursive;
   font-size: 6.5em;
}
h1 { 
   text-align: center;
  font-family: 'Hind', sans-serif;
   font-size: 1.5em;

}  


main {
	background-color: #FFE2B8;
	width:1200px;
	margin:auto;
}

a {
font-family: 'Roboto Slab', serif;
font-style: light;
line-height: 1.5em;
font-size: 1.25em;
}

p {
	font-family: 'Roboto Slab', serif;
  line-height: 1.5em;
  font-size: 1.25em;
}

.description {
  font-weight: italic;
  font-size: 1em;
}
